{% block multiple_upload_file_widget %}
    {% spaceless %}
        {{ block("hidden_widget") }}
        <div id="fileupload">
            <noscript><input type="hidden" name="redirect" value="http://blueimp.github.com/jQuery-File-Upload/"></noscript>
            <div class="row fileupload-buttonbar">
                <div class="col-lg-10">
                    <span class="btn btn-success btn-sm btn-outline fileinput-button">
                        <i class="fa fa-plus-circle"></i>
                        <span>{{'Add files'|trans}}</span>
                        <input type="file" name="files[]" multiple>
                    </span>
                    <span type="submit" class="btn btn-primary btn-sm btn-outline start">
                        <i class="fa fa-cloud-upload"></i>
                        <span>{{'Start upload'|trans}}</span>
                    </span>
                    <span type="reset" class="btn btn-warning btn-sm btn-outline cancel">
                        <i class="fa fa-minus-circle"></i>
                        <span>{{'Cancel upload'|trans}}</span>
                    </span>
                    <span type="button" class="btn btn-danger btn-sm btn-outline delete">
                        <i class="fa fa-trash-o"></i>
                        <span>{{'Delete files'|trans}}</span>
                    </span>
                    <label class="btn btn-primary btn-sm btn-outline">
                        <input type="checkbox" class="toggle">
                    </label>
                </div>
                <div class="col-lg-7 fileupload-progress fade">
                    <div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                        <div class="bar" style="width:0%;"></div>
                    </div>
                    <div class="progress-extended"></div>
                </div>
            </div>
            <div class="fileupload-loading"></div>
            <table role="presentation" class="table table-striped"><tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody></table>
        </div>
        <!-- The blueimp Gallery widget -->
        <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-filter=":even">
            <div class="slides"></div>
            <h3 class="title"></h3>
            <a class="prev">‹</a>
            <a class="next">›</a>
            <a class="close">×</a>
            <a class="play-pause"></a>
            <ol class="indicator"></ol>
        </div>
    {% endspaceless %}
{% endblock %}